.video-container {
    height: 65vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards {
    max-width: 1200px;
    margin: 70px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card {
    background: var(--white);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3 {
    color: var(--primary);
    margin: 20px 0 10px;
}

.card p {
    padding: 0 20px 30px;
    color: #555;
}

.info {
    background: linear-gradient(135deg, var(--primary), var(--dark));
    color: var(--white);
    padding: 80px 20px;
    text-align: center;
}

.info h2 {
    color: var(--accent);
}
.cards a {
    text-decoration: none;
    color: inherit;
}
@media (max-width: 768px) {
    .video-container {
        height: 40vh;
    }

    .cards {
        grid-template-columns: 1fr;
        margin: 40px auto;
    }

    .card {
        max-width: 90%;
        margin: auto;
    }

    .info {
        padding: 50px 15px;
    }

    .info h2 {
        font-size: 1.6rem;
    }
}


