.products-container {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product-card {
    background: white;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: right;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 15px;
}

.product-title {
    font-size: 1.2em;
    color: var(--primary);
    font-weight: bold;
}

.product-price {
    margin-top: 15px;
    font-size: 1.6em;
    color: var(--primary);
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
@media (max-width: 768px) {
    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 90%;
    }
}
